<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="POST" action="">
    {% csrf_token %}
    <div>
        {{error}}
    </div>
    <div>
        <label for="user_id">사용자 이름 입력</label>
        <input type="text" id="user_id" name="user_id" placeholder="사용자 이름">
    </div>
    <div>
        <label for="passwd">비밀번호 입력</label>
        <input type="password" id="passwd" name="passwd" placeholder="비밀번호">
    </div>
    <button type="submit">submit</button>
     <div>
        <h1>구글 로그인</h1>
    </div>
</form>
</body>
</html>